# Folders
data/
definitions/
results/
figs/
figures/
.idea/
tmp/
papers/
iotnets/.idea/
iotnets/configs/
iotnets/IoTmodels/
iotnets/networks/
iotnets/results/
iotnets/README.md


# File types
*.pkl
*.sh
*.jpg
*.png

# Files
.gitignore
